.pagination {
	&__list {
		display: flex;
	}

	&__item {
	}

	&__button {
		@include flex-center;
		@include square(34px);
		color: var(--color-white);

		@include hover {
			color: var(--color-green);
		}

		&.current {
			color: var(--color-green);
		}
	}
}
